{% load static %}

{# About #}
<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <h3 class="section-subheading text-muted">Background</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'app/img/about/1.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    TFA was incorporated on 10th august 2016 but started from a savings group Friend of
                                    Friends Uganda (FOFU) which started on 1st,March 2015 as we gathered to celebrate
                                    the success of our senior six results in Entebbe at Ambrose`s home, participants
                                    <span id="read_more_bg" style="display: none">
                                        included Kagga Paul, Tusingwiire Ambrose, Bukenya David, Gibogi Wycliff and Agaba
                                        Brenda amongst which the idea of saving and investing for the future was discussed
                                        and arranged ourselves into different responsibilities under the leadership of
                                        Mr Kagga Paul, the number kept on growing and as well some members dropped during
                                        the process. After some short time at the university we thought of how best we
                                        could help other youth out there to prepare for the future earlier, and decided to
                                        come up with an NGO (Together for Africa) cutting across different sectors of the
                                        nation i.e. agriculture, education, science and technology, medical among others to
                                        connect both the educated at any levels with those who aren’t to come together and
                                        put up the available resources to use in order to raise strong African youths.
                                    </span>
                                    <button style="color: #1c5e98" id="bg_toggle_btn" class="btn border-0 rounded">
                                        Read More
                                    </button>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'app/img/about/2.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>OUR CORE VALUES</h4>
                            </div>
                            <div class="timeline-body">

                                <h4 class="subheading" style="color: #1c5e98">Integrity</h4>
                                <p class="text-muted">
                                    Ensuring a very strong adherence to all our activities, responsibilities and roles
                                    without any strict supervision.
                                </p>
                            </div>
                            <div class="timeline-body">
                                <h4 class="subheading" style="color: #1c5e98">Sacrifice</h4>
                                <p class="text-muted">
                                    Offering beyond just ourselves by foregoing all extravagant spending for the
                                    betterment of fellow African youths.
                                </p>
                            </div>
                            <div class="timeline-body">
                                <h4 class="subheading" style="color: #1c5e98">Commitment</h4>
                                <p class="text-muted">
                                    A special kind of dedication towards service irrespective of any circumstances.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'app/img/about/3.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Team Work</h4>
                            </div>
                             <div class="timeline-body">
                                <p class="text-muted">
                                    United as a team to uplift the Africa’s youth potentials
                                </p>
                             </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'app/img/about/4.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>CORE OBJECTIVES</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                <ul>
                                    <li>
                                        To cause a positive impact onto the communities where we operate i.e. clean
                                        water and sanitation, health and insurance, food security and entrepreneurship.
                                    </li>
                                    <span id="read_more" style="display: none">
                                        <li>
                                            To empower the youths to become fully responsible citizens of the nation.
                                        </li>
                                        <li>
                                            To promote peace and security on the African continent by standing against all
                                            activities that are a threat.
                                        </li>
                                        <li>
                                            To ensure financial literacy among the youths by encouraging them to save and
                                            invest so as to be able to contribute to the direct development of their
                                            countries through paying taxes and other related activities.
                                        </li>
                                        <li>
                                            To advocate for a quality education system affordable to all and dynamic with
                                            contemporary society needs.
                                        </li>
                                        <li>
                                            To promote nationalism/ patriotism through sub regional interaction so as to
                                            create learning of values, culture and democratic principles for development.
                                        </li>
                                        <li>
                                            To encourage creativity and innovation among the youth in-that they be able to
                                            come up with new technological and logical approaches to solve their community
                                            challenges.
                                        </li>
                                        <li>
                                            To cooperate and partner with government agencies, ministries, sectors and
                                            departments plus other organisations both local and international that might be
                                            willing to walk with us in line with the set objectives.
                                        </li>
                                        <li>
                                            To carry out capacity building of our staff and other grass root youth led
                                            organisations.
                                        </li>
                                        <li>
                                            To ensure accountability of all our activities, funds and the impact to the
                                            communities.
                                        </li>
                                    </span>
                                    <button style="color: #1c5e98" id="about_toggle_btn" class="btn border-0 rounded">
                                        Read More
                                    </button>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>