{% load static %}

{# Header #}
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                Our mission is to proactively address the challenges that hinder productive transformation
                of the youth into credible citizens of the nation.
            </div>
            <div class="intro-heading text-uppercase">
                <img style="border-radius: 35%" src="{% static 'app/img/logos/logo.png' %}">
            </div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
    </div>
</header>